{% extends "layouts/main.html" %}
{% block content %}
    {% if name != None: %}
        <h1>The name is {{name}}</h1>
    {% endif %}
    {% if age != None: %}
        <h2>and the age is {{age}}</h2>
    {% endif %}
    <form method="get">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" value="{% if name != None: %}{{name}}{% endif %}">
        <label for="age">Age:</label>
        <input type="text" name="age" id="age" value="{% if age != None: %}{{age}}{% endif %}">
        <br/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
